/* Variables for colors */
$main-color: darkolivegreen;
$background-color-light: #F6F6E5;
$background-color-dark: bisque;

/* Mixin for responsive design */
@mixin respond-to($media) {
  @if $media ==mobile {
    @media (max-width: 750px) {
      @content;
    }
  }

  @else if $media ==tablet {
    @media (min-width: 651px) and (max-width: 1024px) {
      @content;
    }
  }

  @else if $media ==desktop {
    @media (min-width: 1025px) {
      @content;
    }
  }
}

.error_pager {
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: $background-color-light;
  margin: 0;
  padding: 0;
}

a {
  color: $main-color;
  text-decoration: underline;
}

/* Navbar styles */
.navbar {
  background-color: $main-color;

  padding: 0.1rem;
  display: grid;
  color: white;
  flex-direction: row;
  /* position: relative; */

  .banner-bg {
    min-height: 18.5rem;
    /* min-width: 90vw; */
    /* margin: 0; */
    /* padding: 0; */

    background-image: url('/banner-bg.jpg');
    /* width: 50%; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include respond-to(tablet) {
      background-position: left;
      background-size: contain;
    }

    @include respond-to(mobile) {
      background-position: left;
      background-size: cover;
    }
  }

  .logo-container {
    justify-content: center;
    display: flex;
    background-color: darken($main-color, 10%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    img {
      max-height: 25vh;
      height: auto;
      width: auto;
    }

    @include respond-to(tablet) {
      position: top;
      margin: 0;
      padding: 0;
      padding-right: 0;
    }

    @include respond-to(mobile) {
      position: top;
      margin: 0;
      padding: 0;
      padding-right: 0;
    }
  }

  ul.nav_buttons {
    transition: 200ms;
    list-style: none;
    /* border-radius: 5px; */
    margin: 0;
    padding: 0;
    /* gap: 0.5rem; */
    display: flex;
    background-color: darken($main-color, 5%);
    justify-content: center;
    align-content: center;

    li {
      width: 100%;
      align-content: center;
      justify-content: center;


      @include respond-to(mobile) {
        width: 100%;
      }

      a {
        transition: 200ms;
        padding: 1rem;
        height: 6vh;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */

        &.current {
          transition: 200ms;
          font-weight: bold;
          text-decoration: underline !important;
          background-color: lighten($main-color, 65%);
          color: black;

          &:hover {
            transition: 200ms;
            background-color: lighten($main-color, 50%);
          }
        }

        &:active {
          transition: 200ms;
          background-color: darken($main-color, 50%);
        }

        &:hover {
          transition: 200ms;
          background-color: lighten($main-color, 10%);
        }

        @include respond-to(mobile) {
          transition: 200ms;
          gap: 0;
          height: 2.5vh;
          width: auto;
          /* margin: 0; */
        }
      }
    }

    @include respond-to(mobile) {
      display: grid;
      grid-template-columns: subgrid;
    }
  }

  @include respond-to(mobile) {
    /* flex-direction: row; */
    margin: 0
  }
}

.footerbar {
  background-color: $background-color-dark;
  color: $main-color;
  padding: 0.5rem;
  text-align: center;
  height: 10vh;
  align-content: center;



  .footer-content {
    display: flex;
    justify-content: space-between;

    .footer-section {
      margin: 0;
    }
  }

  @include respond-to(mobile) {
    height: 10vh;

    .footer-content {
      flex-direction: column;
      text-align: center;
    }
  }
}

.page {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .pager-bg {
    /* min-height: 20rem; */
    min-width: 90vw;
    margin: 0;
    padding: 0;
    background-image: url('/pager_bg.webp');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    .pager {
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      display: grid;
      align-content: center;
      justify-content: center;
      text-align: center;
      /* min-height: 960px; */
      width: 90%;
      background-color: transparentize(darken($background-color-light, 10%), 0.15);

      .pager-content {
        /* display: grid; */
        /* grid-template-columns: repeat(auto-fit, minmax(100px, 5fr)); */
        /* grid-auto-columns: auto; */

        * {
          /* min-height: 4rem; */
          /* display: flex; */
          /* justify-content: center; */
          /* align-items: center; */
          /* text-align: center; */
        }
      }
    }
  }
}

.about-us-image {
  max-height: 40vh;
}

.shop_selector_container {
  display: flex;
  justify-content: center;

  a {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lighten($main-color, 10%);
    border-radius: 5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: visible;

    img {
      max-width: 100%;
      margin: 0;
      padding: 0;
      height: auto;
      /* transform: translateY(4rem); */
    }

    &:hover {
      background-color: lighten($main-color, 20%);
    }

    @include respond-to(mobile) {
      /* max-height: 25vh; */
      /* min-height: 8vh; */
      margin: 0;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    .shop_selector_title {
      background: none;
      background-color: transparent;

      /* padding: 0; */
      /* margin: 0; */
      /* transform: translateY(1rem); */
      text-decoration: none;
      font-size: auto + 2rem;
      /* font-weight: bold; */
      color: white;
    }
  }
}


/* Responsive Design */
@include respond-to(mobile) {
  .pager-content {
    grid-template-columns: 1fr;
  }
}

#shop_selector1 {
  &:hover {
    color: white;
  }
}

#shop_selector2 {
  &:hover {
    color: white;
  }
}

button#test {
  background-color: $main-color;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: lighten($main-color, 10%);
  }
}

.privacy-policy,
.terms-of-service {
  padding: 2rem;

  h1 {
    color: $main-color;
  }

  a {
    color: $main-color;
  }
}