/* Variables for colors */
$main-color: darkolivegreen;
$accent-color: lighten(darkred, 8.5%);
$background-color-light: #F6F6E5;
$background-color-dark: bisque;

/* Mixin for responsive design */
@mixin respond-to($media) {
  @if $media ==mobile {
    @media (max-width: 750px) {
      @content;
    }
  }

  @else if $media ==tablet {
    @media (min-width: 750px) and (max-width: 1024px) {
      @content;
    }
  }

  @else if $media ==desktop {
    @media (min-width: 1025px) {
      @content;
    }
  }
}

.error_pager {
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 40vh;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: $background-color-light;
  margin: 0;
  padding: 0;
}

a {
  color: $main-color;
  /* text-decoration: underline; */
}


/* Navbar styles */
.navbar {
  background-color: $main-color;

  padding: 0.1rem;
  display: grid;
  color: white;
  flex-direction: row;
  /* position: relative; */

  .banner-bg {
    min-height: 18vh;
    /* min-width: 90vw; */
    /* margin: 0; */
    /* padding: 0; */

    /* background-image: url('/banner-bg.jpg'); */
    /* width: 50%; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include respond-to(tablet) {
      background-position: left;
      background-size: contain;
    }

    @include respond-to(mobile) {
      min-height: 10vh;
      background-position: left;
      background-size: cover;
    }
  }

  .logo-container {
    /* justify-content: center; */
    display: flex;
    position: top;
    background-color: darken($main-color, 10%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    img {
      max-height: 15vh;
      min-height: 10vh;
      height: auto;
      width: auto;

      @include respond-to(mobile) {
        max-height: 14vh;
      }
    }

    @include respond-to(tablet) {
      position: top;
      margin: 0;
      padding: 0;
    }

    @include respond-to(mobile) {
      margin: 0;
      padding: 0;
    }
  }

  ul.is-navbar-hidden {
    li {
      display: none;

      @include respond-to(desktop) {
        display: block;
      }

      @include respond-to(tablet) {
        display: block;
      }
    }


  }

  ul.nav_buttons {
    transition: 200ms;
    list-style: none;
    /* border-radius: 5px; */
    margin: 0;
    padding: 0;
    /* gap: 0.5rem; */
    display: flex;
    background-color: darken($main-color, 5%);
    justify-content: center;
    align-content: center;

    li {
      width: 100%;
      align-content: center;
      justify-content: center;


      @include respond-to(mobile) {
        width: 100%;

        a {
          padding: 1.0rem;
        }
      }

      a {
        height: 8vh;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        display: flex;

        img.button_middle_image {
          height: auto;
          width: 100%;
          max-height: 8vh;
          object-fit: contain;

          filter: brightness(0.90);


          &:hover {
            transform: scale(1.05);
          }

          &:active {
            transform: scale(0.95);
          }
        }

        &.current {
          transition: 200ms;
          font-weight: bold;
          text-decoration: underline !important;
          box-shadow: inset 0 -2px 25px rgba(255, 255, 255, 0.15);

          /* background-color: lighten($main-color, 65%); */
          /* color: black; */
          img.button_middle_image {
            transform: scale(1.15);

            filter: brightness(1.00);

            &:active {
              transform: scale(0.95);
            }
          }

          &:hover {
            transition: 200ms;
            /* background-color: lighten($main-color, 50%); */
          }
        }

        &:active {
          transition: 200ms;
          /* background-color: darken($main-color, 50%); */
        }

        &:hover {
          transition: 200ms;
          background-color: lighten($main-color, 10%);
        }

        @include respond-to(mobile) {
          transition: 200ms;
          gap: 0;
          height: 2.5vh;
          width: auto;
          /* margin: 0; */
        }
      }
    }

    @include respond-to(mobile) {
      display: grid;
      grid-template-columns: subgrid;
    }
  }

  .navbar-hide-block {
    display: none;

    button {
      display: none;
    }
  }

  .shopping-cart-hide-block {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    max-height: 4rem;
    background-color: darken($main-color, 12.5%);
    box-shadow: 0 4px 8px rgba(100, 100, 100, 0.1);
    border-radius: 7px;


    .current {
      box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
    }


    &:hover {
      background-color: darken($main-color, 7%);
    }


    a {
      border-radius: 7px;
      padding: 1.35rem 1.5rem;
      display: block;
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      text-decoration: none;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      /* Adjust the height for spacing between bars */
    }
  }


  @include respond-to(mobile) {
    /* flex-direction: row; */
    margin: 0;

    .navbar-hide-block {
      display: block;
      position: absolute;
      top: 2.5rem;
      left: 2.5rem;
      max-height: 2rem;
      background-color: darken($main-color, 12.5%);
      box-shadow: 0 4px 8px rgba(100, 100, 100, 0.1);

      &:hover {
        background-color: darken($main-color, 7%);
      }

      border-radius: 7px;
      padding: 1.0rem;

      button {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 34px;
        /* Adjust the height for spacing between bars */
      }

      .bar {
        width: 6vw;
        height: 0.4vh;
        background-color: white;
        border-radius: 2px;
      }
    }



    .logo-container {
      width: 100%;

      a {
        width: 100%;
      }
    }
  }
}

.footerbar {
  background-color: $background-color-dark;
  color: $main-color;
  padding: 0.5rem;
  text-align: center;
  height: 10vh;
  align-content: center;



  .footer-content {
    display: flex;
    justify-content: space-between;

    .footer-section {
      margin: 0;
    }
  }

  @include respond-to(mobile) {
    height: 10vh;

    .footer-content {
      flex-direction: column;
      text-align: center;
    }
  }
}

.page {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  .pager-bg {
    /* min-height: 20rem; */
    min-width: 90vw;
    margin: 0;
    padding: 0;
    background-image: url('/pager_bg.webp');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */


    .pager {
      padding: 0;
      padding-bottom: 1rem;
      padding-top: 1rem;
      margin: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      min-height: 40vh;
      background-color: transparentize(darken($background-color-light, 10%), 0.15);
      display: flex;

      justify-content: center;

      .pager-content-about {
        justify-content: center;
        text-align: center;

        .about-us-image {
          max-height: 40vh;
        }
      }

      .pager-content-product-item-details {
        width: 100%;

        justify-content: center;
        justify-items: center;
        text-align: center;
        align-items: center;
        align-content: center;

        .product-item-container {
          text-decoration: none;
          width: 100%;
          justify-content: center;
          justify-items: center;
          text-align: center;
          align-items: center;
          align-content: center;

          .product-item-image {
            object-fit: cover;
            background-color: $main-color;
            border-radius: 15px 15px 0 0;

            @include respond-to(desktop) {
              max-height: 30vh;
              width: 100%;
            }

            @include respond-to(tablet) {
              max-height: 30vh;
              width: 100%;
            }

            @include respond-to(mobile) {
              max-height: auto;
              width: 100%;
            }

          }

          .product-item-empty {
            /* width: 21rem; */
          }

          .product-info {
            justify-content: center;
            text-align: center;
            align-items: center;
            background-color: $background-color-dark;

            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            .product-item-name {
              font-size: 2rem;
              font-weight: bold;
              text-decoration: none;
            }

            .product-item-description {
              padding: 1rem;
              border-radius: 15px;
            }
          }


          button.product-item-addtocart-button {
            background-color: $main-color;
            color: white;
            border: none;
            padding: 0.85rem 5.5rem;
            border-radius: 5px;
            cursor: pointer;
            transition-duration: 200ms;
            transition: 0.2s ease-in-out;

            margin-top: auto;
            min-width: 30vh;
            min-height: 5rem;

            &:hover {
              transform: scale(1.05);
              background-color: lighten($main-color, 10%);
              box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            }

            &:active {
              background-color: darken($main-color, 10%);
            }
          }
        }
      }

      /* .pager-content-product-item-details, */
      .pager-content-shop-general {
        text-align: center;
        justify-content: center;

        width: 100%;

        .product-list-ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;

          justify-content: start;
          align-content: center;
          justify-items: center;
          align-items: center;

          gap: 1.5rem;
          padding: 1rem;
          margin: 2rem;
          /* background-color: $background-color-light; */
          border-radius: 10px;

          .product-list-item {
            background-color: $background-color-dark;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
          }


          /* Responsive layout for mobile */
          @include respond-to(mobile) {
            flex-direction: column;
            gap: 1rem;

            li.product-list-item {
              /* width: 100%; */
            }

            img.product-list-item-image {
              /* height: auto; */
            }
          }
        }

        .product-info {
          padding: 1rem;

        }

        .product-list-ul.product-list-item.product-item-container,
        .product-item-container {
          /* align-items: center; */
          /* align-content: center; */
          /* text-align: center; */
          /* justify-items: center; */
          /* justify-content: center; */

          /* min-height: 25vh; */

          .product-item-image {
            min-height: 20vh;
            width: 20rem;
            height: auto;
            object-fit: cover;

            background-color: $main-color;
            border-radius: 15px 15px 0 0;
          }

          .product-item-empty {
            max-height: 20vh;
            min-height: 20vh;
            background-color: $main-color;
            border-radius: 15px 15px 0 0;
          }

          button.product-item-addtocart-button {
            position: bottom;
            background-color: $main-color;
            color: white;
            border: none;
            padding: 0.85rem 5.5rem;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
            transition-duration: 200ms;
            transition: 0.2s ease-in-out;

            margin-top: auto;
            width: 100%;

            &:hover {
              transform: scale(1.05);
              background-color: lighten($main-color, 10%);
              box-shadow: 0 6px 50px white;
            }

            &:active {
              background-color: darken($main-color, 10%);
            }
          }
        }
      }


      .pager-content-home-page {
        @include respond-to(mobile) {
          grid-template-columns: repeat(1, 1fr);

          a.shop-selector-container {
            width: 80vw;
          }
        }

        display:grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: lighten($main-color, 10%);
        justify-content: center;
        border-radius: 20px;



        a.shop-selector-container {
          display: flex;
          justify-content: center;
          padding-top: 1rem;

          min-height: 30vh;
          min-width: 40vw;

          &:hover {
            background-color: lighten($main-color, 20%);
            border-radius: 20px;
          }

          .shop_selector_title {
            margin: 0;
            padding: 0;
            width: 90%;
            color: white;
            border-radius: 100px;

            /* transform: translateY(-1rem); */

            padding: 0;
            margin: 0;
            font-size: 150%;
            text-decoration: underline;

            font-weight: bold;

            @include respond-to(mobile) {
              font-size: 1rem;
            }
          }

          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          text-align: center;

          &#button_farm_to_table_near_me {
            background-image: url("/button_farm_to_table_near_me.png");
          }

          &#button_farmtasker_pet_food_shop {
            background-image: url("/button_farmtasker_pet_food_shop.png");
          }

          &#button_culinary_adventure {
            background-image: url("/button_culinary_adventure.png");
          }

          &#button_farm_task_video_instructions_service {
            background-image: url("/button_farm_task_video_instructions_service.png");
          }
        }
      }
    }
  }
}

.privacy-policy,
.terms-of-service {
  padding: 2rem;

  h1 {
    color: $main-color;
  }

  a {
    color: $main-color;
  }
}

/* button#test { */
/* background-color: $main-color; */
/* color: white; */
/* border: none; */
/* padding: 0.5rem 1rem; */
/* border-radius: 5px; */
/* cursor: pointer; */

/* &:hover { */
/* background-color: lighten($main-color, 10%); */
/* } */
/* } */