/* Variables for colors */
$main-color: darkolivegreen;
$background-color-light: #F6F6E5;
$background-color-dark: bisque;

/* Mixin for responsive design */
@mixin respond-to($media) {
  @if $media ==mobile {
    @media (max-width: 650px) {
      @content;
    }
  }

  @else if $media ==tablet {
    @media (min-width: 651px) and (max-width: 1024px) {
      @content;
    }
  }

  @else if $media ==desktop {
    @media (min-width: 1025px) {
      @content;
    }
  }
}

.error_pager {
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: $background-color-light;
  margin: 0;
  padding: 0;
}

a {
  color: $main-color;
  text-decoration: underline;
}

/* Navbar styles */
.navbar {
  background-color: $main-color;

  padding: 0.1rem;
  padding-right: 3rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .logo-container {
    display: flex;
    background-color: darken($main-color, 10%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1;

    img {
      max-height: 17vh;
      height: auto;
      width: auto;
    }

    @include respond-to(tablet) {
      position: top;
      margin: 0;
      padding: 0;
      padding-right: 0;
    }

    @include respond-to(mobile) {
      position: top;
      margin: 0;
      padding: 0;
      padding-right: 0;
    }
  }

  .title-text {
    height: fit-content;
    width: fit-content;
    font-family: Calibri;
    font-style: italic;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    margin: 0 2rem;

    @include respond-to(tablet) {
      display: none;
    }

    @include respond-to(mobile) {
      display: none;
    }
  }

  .nav_buttons {
    list-style: none;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
    display: flex;
    justify-content: center;

    li {
      a {
        width: 5vw;
        height: 5vh;
        padding: 1rem;
        border-radius: 5px;
        background-color: darken($main-color, 5%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        align-items: center;
        justify-content: center;
        display: flex;

        text-align: center;
        color: white;

        &.current {
          font-weight: bold;
          text-decoration: underline !important;
          background-color: lighten($main-color, 65%);
          color: black;

          &:hover {
            background-color: lighten($main-color, 50%);
          }
        }

        &:active {
          background-color: lighten($main-color, 40%);
        }

        &:hover {
          background-color: lighten($main-color, 10%);
        }

        @include respond-to(mobile) {
          translate: -10vw;
          height: 2vh;
          width: 22vw;
          border-radius: 0;
          box-shadow: none;
          margin: 0;
          padding: 2vh;
        }
      }
    }

    @include respond-to(mobile) {
      gap: 0;
      display: grid;
      max-width: 30vw;
      min-width: 20vw;
      grid-template-columns: repeat(2, 1fr);
      background-color: $main-color;
      margin: 0
    }
  }

  @include respond-to(mobile) {
    /* flex-direction: row; */
    /* margin: 0 */
  }
}

.footerbar {
  background-color: $background-color-dark;
  color: $main-color;
  padding: 0.5rem;
  text-align: center;

  .footer-content {
    display: flex;
    justify-content: space-between;

    .footer-section {
      margin: 0;
    }
  }

  @include respond-to(mobile) {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
  }
}

.page {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .pager-bg {
    min-height: 20rem;
    min-width: 90vw;
    margin: 0;
    padding: 0;
    background-image: url('/pager_bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    .pager {
      padding: 1rem;
      margin: 1rem;
      border-radius: 20px;
      display: grid;
      align-content: center;
      justify-content: center;
      text-align: center;
      min-height: 960px;
      width: 90%;
      background-color: transparentize(darken($background-color-light, 10%), 0.15);

      .pager-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 5fr));
        grid-auto-columns: auto;

        * {
          /* min-height: 4rem; */
          /* display: flex; */
          /* justify-content: center; */
          /* align-items: center; */
          /* text-align: center; */
        }
      }
    }
  }
}

.shop_selector_container {
  display: flex;
  justify-content: center;

  a {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: top center;
    justify-content: top center;
    background-color: lighten($main-color, 10%);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    img {
      max-width: 100%;
      margin: 0;
      padding: 0;
      height: auto;
      /* transform: translateY(4rem); */
    }

    &:hover {
      background-color: lighten($main-color, 20%);
    }

    @include respond-to(mobile) {
      max-height: 25vh;
      min-height: 8vh;
      margin: 0;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    .shop_selector_title {
      background: none;
      background-color: transparent;

      padding: 0;
      margin: 0;
      transform: translateY(1rem);
      text-decoration: none;
      font-size: auto + 2rem;
      /* font-weight: bold; */
      color: white;
    }
  }
}

/* Responsive Design */
@include respond-to(mobile) {
  .pager-content {
    grid-template-columns: 1fr;
  }
}

#shop_selector1 {
  &:hover {
    color: white;
  }
}

#shop_selector2 {
  &:hover {
    color: white;
  }
}

button#test {
  background-color: $main-color;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: lighten($main-color, 10%);
  }
}

.privacy-policy,
.terms-of-service {
  padding: 2rem;

  h1 {
    color: $main-color;
  }

  a {
    color: $main-color;
  }
}